@media (max-width: 1400px) {
    .container {
        max-width: 1024px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .header {
        &__sale {
            margin-left: -16px;
            margin-right: -16px;
        }
        &__nav {
            grid-gap: 45px;
        }
    }

    .hero {
        .container {
            padding-bottom: 20px;
        }
        &__box {
            padding: 60px;

            &::after {
                width: 606px;
                height: 384px;
                right: 4%;
            }
        }
        &__title {
            margin-bottom: 30px;
        }
        &__nav {
            margin-bottom: 20px;
        }
    }

    .games {
        .container {
            padding-bottom: 30px;
        }
        &__form {
            margin-bottom: 20px;
        }
        &__list {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 30px;
        }
        &__img {
            // нашел в панеле разработчика в браузере
            width: -webkit-fill-available;
        }
    }

    .questions {
        .container {
            padding-top: 30px;
        }
    }
}