@media (max-width: 1020px) {
    .container {
        max-width: 768px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .header {
        &__sale {
            font-size: 14px;
            padding-left: 8px;
            padding-right: 8px;
        }
        &__info {
            padding-top: 15px;
            padding-bottom: 15px;
            justify-content: center;
        }
        &__address {
            display: none;
        }
        &__nav {
            display: none;
        }
        &__list {
            display: none;
        }
    }

    .hero {
        .container {
            padding-top: 30px;
        }
        &__box {
            padding: 40px;

            &::after {
                width: 445px;
                height: 333px;
                right: 0;
            }
        }
        &__heading {
            font-size: 32px;
            line-height: 38px;
        }
        &__content {
            max-width: 280px;
        }
    }

    .games {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .footer {
        &__subscription {
            grid-template-columns: 1fr;
        }
    }
}