@media (max-width: 1020px) {
    .container {
        max-width: 768px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .header {
        &__sale {
            font-size: 14px;
            padding-left: 8px;
            padding-right: 8px;
        }
        &__info {
            padding-top: 15px;
            padding-bottom: 15px;
            justify-content: center;
        }
        &__address {
            display: none;
        }
        &__nav {
            display: none;
        }
        &__list {
            display: none;
        }
    }

    .hero {
        .container {
            padding-top: 30px;
        }
        &__box {
            padding: 40px;

            &::after {
                width: 445px;
                height: 333px;
                right: 0;
            }
        }
        &__heading {
            font-size: 32px;
            line-height: 38px;
        }
        &__content {
            max-width: 280px;
        }
    }

    .games {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .footer {
        .container {
            padding-bottom: 100px;
        }
        &__nav {
            position: fixed;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            bottom: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            color: #98A2B3;
            background-color: #fff;
        }
        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .3s ease-in-out color;

            &:hover,
            &:focus {
                color: #7F56D9;

                svg {
                    fill: #7F56D9;
                }
            }
        }
        &__svg {
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            fill: #101828;
            transition: .3s ease-in-out fill;
        }
        &__subscription {
            grid-template-columns: 1fr;
        }
    }
}