$colorHover: #7F56D9;

@font-face {
    font-family: 'Inter';
    font-weight: '400';
    src: url('../fonts/Inter-Regular.woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: '500';
    src: url('../fonts/Inter-Medium.woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: '700';
    src: url('../fonts/Inter-SemiBold.woff2');
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    color: black;
}

button {
    cursor: pointer;
    transition: .3s ease-in-out transform;
    border: none;

    &:hover,
    &:focus {
        transform: scale(105%);
    }
    &:active {
        transform: scale(95%);
    }
}

.grey-star {
    width: 12px;
    height: 12px;
    fill: #EAECF0;
}

.gold-star {
    width: 12px;
    height: 12px;
    fill: #FEC84B;
}

.half-star {
    width: 12px;
    height: 12px;

    path:nth-child(1) {
        fill: #FEC84B;
    }
    path:nth-child(2) {
        fill: #EAECF0;
    }
}

.main {
    background-color: #E5E5E5;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding-left: 110px;
    padding-right: 110px;
}

.header {
    .container {
        padding-top: 8px;
    }
    &__sale {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -100px;
        margin-right: -100px;
        padding: 8px 24px;
        color: #fff;
        background-color: $colorHover;
        border-radius: 4px;
    }
    &__btn {
        background-color: transparent;
        border: none;
    }
    &__left {
        width: 20px;
        height: 20px;
        fill: #9E77ED;
    }
    &__right {
        width: 20px;
        height: 20px;
        fill: #FFFFFF;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EAECF0;
    }
    &__address {
        cursor: pointer;
        transition: .3s ease-in-out fill,
                    .3s ease-in-out color;

        svg {
            width: 13px;
            height: 16px;
        }
        &:hover {
            fill: $colorHover;
            color: $colorHover;
        }
    }
    &__logo {
        transition: .3s ease-in-out transform;
        &:hover {
            transform: scale(110%);
        }
    }
    &__list {
        display: grid;
        max-width: 210px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px;
    }
    &__item {
        cursor: pointer;
        transition: .3s ease-in-out fill,
                    .3s ease-in-out color;

        svg {
            width: 20px;
            height: 20px;
        }
        &:hover {
            fill: $colorHover;
            color: $colorHover;
        }
    }
    &__nav {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.hero {
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__nav {
        margin-bottom: 30px;
    }
    &__item {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    &__available {
        position: relative;
        padding-right: 20px;
        color: #667085;
        
        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 16px;
            height: 16px;
            background: url('../img/hero-arrow-right.svg');
        }
    }
    &__active {
        color: #D0D5DD;
    }
    &__title {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 52px;
        line-height: 56px;
        color: #101828;
    }
    &__box {
        position: relative;
        padding: 70px;
        background: url('../img/hero.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 16px;

        &::after {
            content: '';
            position: absolute;
            right: 100px;
            right: 8%;
            bottom: -2px;
            width: 710px;
            height: 450px;
            background: url('../img/heroes.svg') no-repeat;
            background-size: contain;
        }
    }
    &__content {
        max-width: 310px;
    }
    &__heading {
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 40px;
        line-height: 44px;
        color: #FFFFFF;
    }
    &__info {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    &__btn {
        padding: 10px 18px;
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        color: #101828;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.games {
    .container {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    &__form {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 16px;
        margin-bottom: 30px;
    }
    &__label {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
    }
    &__search {
        &::placeholder {
            padding-left: 30px;
            background: url('../img/search.svg') no-repeat;
            background-position: center left;
            fill: red;
        }
    }
    &__input {
        padding: 10px 18px;
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        cursor: pointer;

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #98A2B3;
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
    &__tag {
        position: relative;
        margin-bottom: 10px;
        padding: 10px 15px;
        padding-right: 45px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #7F56D9;
        background-color: #F4EBFF;
        border-radius: 8px;

        &:not(:last-child) {
            margin-right: 10px;
        }
        &::after {
            content: '';
            position: absolute;
            right: 15px;
            width: 20px;
            height: 20px;
            background: url('../img/games-x.svg') center;
            cursor: pointer;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 20px;
        background-color: #fff;
        border-radius: 12px;
        transition: .3s ease-in-out transform;

        &-new {
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 2px dashed #D6BBFB;
            background-color: transparent;
        }
        &:not(:first-child):hover {
            transform: scale(102%);
        }
    }
    &__btn-add {
        margin-top: 20px;
        padding: 10px 60px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #7F56D9;
        border-radius: 8px;
    }
    &__box {
        margin-bottom: 15px;
    }
    &__img {
        margin-top: -15px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
    }
    &__span {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
        padding: 2px 8px;
        padding-left: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        border-radius: 4px;
        
        &::before {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            top: 8px;
            left: 8px;
        }
        &-blue {
            color: #0086C9;
            background-color: #F0F9FF;
            &::before {
                background-image: url('../img/games-point-blue.svg');
            }
        }
        &-red {
            color: #E31B53;
            background-color: #FFF1F3;
            &::before {
                background-image: url('../img/games-point-red.svg');
            }
        }
        &-orange {
            color: #DC6803;
            background-color: #FFFAEB;
            &::before {
                background-image: url('../img/games-point-orange.svg');
            }
        }
        &-purple {
            color: #7F56D9;
            background-color: #F9F5FF;
            &::before {
                background-image: url('../img/games-point-purple.svg');
            }
        }
        &-green {
            color: #039855;
            background-color: #ECFDF3;
            &::before {
                background-image: url('../img/games-point-green.svg');
            }
        }
    }
    &__heading {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    &__stars {
        display: flex;
        margin-bottom: 15px;
    }
    &__star {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 4px;
    }
    &__number {
        margin-left: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #475467;
    }
    &__info {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #98A2B3;
    }
    &__prices {
        display: flex;
        min-height: 37px;
        justify-content: space-between;
        align-items: center;
        padding-top: 17px;
        border-top: 1px solid #EAECF0;
    }
    &__price {
        display: flex;
    }
    &__old {
        margin-right: 8px;
        font-weight: 500;
        font-size: 16px;
        color: #D0D5DD;
    }
    &__new {
        font-weight: 600;
        font-size: 16px;
        color: #101828;
    }
    &__sale {
        padding: 4px 6px;
        font-weight: 600;
        font-size: 12px;
        color: #FFFFFF;
        background-color: #669F2A;
        border-radius: 4px;
        transform: scale(120%);
    }
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 8px;
        text-align: center;
    }
    &__page {
        display: flex;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        color: #101828;
        border-radius: 8px;

        svg {
            width: 36px;
            height: 36px;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
        &:hover {
            background-color: #F9F5FF;
        }
        &-active {
            background-color: #7F56D9;
            
            &:hover {
                background-color: #7F56D9;
            }
        }
    }
    &__tab {
        margin-right: 10px;
    }
}

.questions {
    .container {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 32px;
        text-align: center;
        color: #101828;
    }
    &__info {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #667085;
    }
    &__box {
        display: flex !important;
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border: none;

        &:not(:first-child) {
            border-top: 1px solid #EAECF0;
        }
    }
    &__heading {
        font-weight: 600;
        font-size: 18px;
        color: #101828;
    }
    &__closed {
        display: none;
        width: 20px;
        height: 20px;
        fill: #7F56D9;
    }
    &__opened {
        display: none;
        width: 20px;
        height: 20px;
        fill: #7F56D9;
    }
    &__discription {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
    }
    &__list {
        margin-bottom: 30px;
    }
    &__item {
        position: relative;
        padding-left: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;

        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            top: 10px;
            left: 0;
            background-image: url('../img/games-point-purple.svg');
        }
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
    &__feedback {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        color: #101828;
    }
}

.ui-icon {
    display: none;
}

.ui-accordion-content {
    height: auto !important;
    background-color: transparent;
    border: none;
}

.ui-state-active {
    .questions__opened {
        display: block;
    }
}

.ui-accordion-header-collapsed {
    .questions__closed {
        display: block;
    }
}

.footer {
    background-color: #1D2939;

    .container {
        padding-top: 55px;
        padding-bottom: 65px;
    }
    &__subscription {
        display: grid;
        padding-bottom: 55px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        border-bottom: 1px solid #344054;
    }
    &__title {
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
    }
    &__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #98A2B3;
    }
    &__form {
        display: flex;
    }
    &__input {
        width: 100%;
        margin-right: 8px;
        padding: 10px 18px;
        background-color: #FFFFFF;
        border-radius: 8px;

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            color: #98A2B3;
        }
    }
    &__btn {
        padding: 10px 18px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #7F56D9;
        border-radius: 8px;
    }
    &__categories {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 56px;
        padding-bottom: 80px;
    }
    &__heading {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 14px;
        color: #98A2B3;
    }
    &__list {
        display: grid;
        grid-gap: 8px;
    }
    &__item {
        font-weight: 500;
        font-size: 16px;
        color: #F2F4F7;
        transition: .3s ease-in-out transform;

        &:hover {
            transform: scale(105%);
        }
    }
    &__copyright {
        font-weight: 400;
        font-size: 16px;
        color: #667085;
        
    }
}